<% @product.reviews.each do |review| %>
  <p>
    <%= review.comment %>
    <br>
    <% if review.user != nil %>
      <em> by <%= review.user.name %></em>
      Added on: <%= review.created_at %>
    <% end %>

    <% if review.user == current_user %>
    	<%= button_to "delete", product_review_path(@product, review), :action => 'destroy', :method => :delete, :confirm => "Are you sure you want to do that?" %>
    	
    <% end %>

  </p>
<% end %>

